.async-image-dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    flex: 1;

    .image-dashboard-item{
        flex-basis: 300px;
        max-height: 300px;
        flex-grow: 1;
        margin: 10px;

        img{
            width: 100%;
            object-fit: cover;
            height: 100%;

        }
    }
    .image-dashboard-item:empty{height: 0;}
}