$black: #525252;
$white: #EEEEEE;
// $white: #FFFFFF;
$light-grey: #DDDDDD;
$grey: #C5C7C2;
$dark-grey: #707070;


$black-1: rgb(47, 54, 64);
$white-1:  rgb(164, 145, 115);
$light-red: rgb(140, 64, 51);
$red: rgb(166, 53, 49);
$dark-red:  rgb(88, 39, 39);